<div class="main-container">
  <div class="results-container">
    <form style="padding-top: 1em;">
      <div class="form-row align-items-center">
        <div class="col-sm-3">
          <label class="sr-only">Name</label>
          <input type="text" class="form-control mb-2 mb-sm-0" id="inlineFormInputName" placeholder="Jane Doe">
        </div>
        <div class="col-sm-3">
          <label class="sr-only">Places</label>
          <div class="input-group mb-2 mb-sm-0">
            <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Ville/Pays">
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-treehouse"><i class="fa fa-search"></i>&nbspRechercher</button>
        </div>
      </div>
    </form>
    <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/rio.jpg)">Rio</div>
    <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/berlin')">Berlin</div>
    <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/shanghai.jpg)">Shanghai</div>
    <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/barcelona.jpg)">Barcelona</div>
    <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/rio.jpg)">Rio</div>
    <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/rio.jpg)">Rio</div>
    <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/berlin')">Berlin</div>
    <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/shanghai.jpg)">Shanghai</div>
    <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/barcelona.jpg)">Barcelona</div>
    <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/rio.jpg)">Rio</div>
    <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/rio.jpg)">Rio</div>
    <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/berlin')">Berlin</div>
    <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/shanghai.jpg)">Shanghai</div>
    <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/barcelona.jpg)">Barcelona</div>
    <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/rio.jpg)">Rio</div>
    <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/rio.jpg)">Rio</div>
    <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/berlin')">Berlin</div>
    <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/shanghai.jpg)">Shanghai</div>
    <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/barcelona.jpg)">Barcelona</div>
    <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/rio.jpg)">Rio</div>
    <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/berlin.jpg)">Berlin</div>
  </div>
  <div id="map"></div>
</div>

    <!-- Gmaps js: building the map -->
    <script>
      function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 52.5206, lng: 13.4098},
          scrollwheel: false,
          zoom: 8
        });
      }
    </script>
    <!-- Gmaps JavaScript -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzER7O10ZOUp7FloJzMe2r8X1GIQhgt7Q&callback=initMap"></script>





