<% if user_signed_in? %>
<div class="banner-top" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Bienvenue</h1>
    <p>Famille Chatel</p>
    <a class="btn btn-treehouse"><i class="fa fa-cc-paypal" aria-hidden="true"></i>&nbspFAIRE UN DON</a>
  </div>
</div>

<!-- ASSOCIATION -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-left">
      <h1>ASSOCIATION</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>
        2017 a déjà bien démarré et il est temps de vous faire le point sur notre activité en 2016.
        Vous avez ci dessous le compte rendu du conseil d’administration du 19 janvier 2017
        ainsi que la liste des membres du conseil:
      </p>
    </div>
    <div class="col-sm-6">
      <p>
        Grâce à vos dons 2016 , nous pouvons distribuer en 2017 la somme de 18 400 € aux œuvres que nous soutenons. Un grand merci à toutes et à tous.
      </p>
        <a class="btn btn-treehouse"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbspVOIR LA REPARTITION</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-left">
      <h2>Les membres du conseil</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Shanghai</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Shanghai</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Shanghai</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
  <div class="row padding">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Shanghai</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Shanghai</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Shanghai</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Shanghai</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Shanghai</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Shanghai</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-left">
      <h2>Assemblée Générale 2017</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>
        Pierre et Véronique nous ont accueillis chez eux, nous y sommes toujours si bien reçus. Après la messe paroissiale anticipée, cocktail très apprécié servi par les Tréteaux de Marthe et Mathieu, un CAT que nous avions déjà fait travailler il y a bien longtemps. Delphine Harmel a mené de main de maître la préparation de la soirée. Nous étions 50 adultes et 6 enfants.
      </p>
    </div>
    <div class="col-sm-6 text-center">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="http://via.placeholder.com/350" alt="...">
            <div class="carousel-caption">

            </div>
          </div>
          <div class="item">
            <img src="http://via.placeholder.com/350" alt="...">
            <div class="carousel-caption">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p class="text-align">
          Notre assemblée a accepté la démission de Catherine au poste de présidente et la nomination de Delphine HARMEL qui la remplace maintenant. Catherine a assuré cette charge pendant 14 ans avec beaucoup de dévouement et d’attention. Beaucoup de coups de téléphone à passer pour récupérer des renseignements de toutes sortes, des réponses à des convocations, et, tout simplement, avoir des nouvelles des uns et des autres et pour les faire suivre à la famille.
          <br><br>
          Hortense a eu la bonne idée de proposer des cocktails vendus au profit d’Hélène Chatel. Ce fut une très bonne initiative qui a mis de l’ambiance dans notre assemblée.
          <br><br>
          En plus des discours habituels de Discours de Catherine et de Discours de Michèle, Harold et Esther ont pris la parole. Harold nous a donné des nouvelles de son projet de monter une fondation pour le foyer saint Tarcissius en Indonésie et Esther nous a exposé l’histoire de son oncle, l’ex-roi du Burundi ou plutôt de sa dépouille qui attendait depuis cinq ans de reposer  en Suisse au cimetière de Meyrin. L’inhumation devrait avoir lieu en juin.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- ARTICLES -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-left">
      <h1>ARTICLES</h1>
    </div>
  </div>
</div>
<div class="message">
  <% @posts.each do |post| %>
  <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
  <div class="message-name">
    <h3>Charles-Eric</h3>
    <p><%= post.created_at.strftime('%b %d, %Y') %></p>
  </div>
  <div class="message-body">
    <p><strong><%= post.title %></strong></p>
    <p>
      <%= raw(post.body).truncate(358) %>
    </p>
  </div>
  <div class="message-status">
    <p class="status pending"></p>
    <p class="price"><i class="fa fa-eye" aria-hidden="true"></i></p>
  </div>
  <% end %>
</div>

<!-- CARD -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Shanghai</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Shanghai</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Shanghai</h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
<% else %>
 <!-- BANNER -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Lien d'amour</h1>
    <p>Famille Chatel</p>
    <a class="btn btn-treehouse">Se connecter</a>
  </div>
</div>

<% end %>
